@*@model GerenciadorDespesas.Models.TipoDespesas*@
@{
    Layout = null;
}

<div class="footer">
    <p class="Text">Obrigado por utilizar o projeto Gerenciador de Despesas</p>
    <p class="Text2">Caso tenha alguma duvida em como utilizar ou alguma dica para
        melhorar o projeto <a class="tag" @*asp-route=""*@>Clique Aqui</a> para entrar em contato</p>
</div>
